In [91]:
import pandas as pd, numpy as np

area_data = pd.read_csv("./area_data.csv")
area_data.dropna(inplace=True)
area_data = area_data[area_data["link"].apply(lambda x: ".csv" in x)]
area_data["area"] = area_data["area"].apply(lambda x: x.replace(" (ACT)", ""))

for i in area_data.index:
    data = pd.read_csv(
        area_data.at[i, "link"]
    )
    for j in data.index:
        area_data.at[i, data.at[j, "Description"]] = data.loc[j].dropna()[-1]
    area_data.at[i, "past_population"] = data.at[0, "2015"]

area_data.to_csv("./sa2_data.csv", index=False)
area_data

c:\users\mannheimm6l\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1684: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = infer_fill_value(value)

,code,area,link,Estimated resident population (no.),Population density (persons/km2),Estimated resident population - males (no.),Estimated resident population - females (no.),Median age - males (years),Median age - females (years),Median age - persons (years),...,All other protected land areas (%),No data (ha),Multiple-use public forest (ha),Non-freight carrying trucks (no.),Number of business exits with turnover of $10m or more,Number of business entries with turnover of $5m to less than $10m,Water: non-perennial (ha),National parks (no.),National parks (ha),National parks (%)
0,801011001,Aranda,https://dbr.abs.gov.au/json/csv/SA2_801011001.csv,2501.0,1600.0,1222.0,1279.0,42.1,43.3,42.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,801011002,Belconnen,https://dbr.abs.gov.au/json/csv/SA2_801011002.csv,7634.0,1724.8,3783.0,3851.0,31.2,30.7,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,801011003,Bruce,https://dbr.abs.gov.au/json/csv/SA2_801011003.csv,7679.0,1324.5,3818.0,3861.0,28.0,28.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,801011004,Charnwood,https://dbr.abs.gov.au/json/csv/SA2_801011004.csv,2860.0,1541.0,1455.0,1405.0,32.9,37.9,35.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,801011005,Cook,https://dbr.abs.gov.au/json/csv/SA2_801011005.csv,2810.0,1775.0,1330.0,1480.0,42.3,44.5,43.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,801101136,Denman Prospect,https://dbr.abs.gov.au/json/csv/SA2_801101136.csv,963.0,203.0,490.0,473.0,30.2,29.8,30.0,...,NaN,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,801101137,Molonglo,https://dbr.abs.gov.au/json/csv/SA2_801101137.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,801101139,Wright,https://dbr.abs.gov.au/json/csv/SA2_801101139.csv,3786.0,2977.4,1807.0,1979.0,33.0,32.1,32.6,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
132,801111140,ACT - South West,https://dbr.abs.gov.au/json/csv/SA2_801111140.csv,590.0,1.4,323.0,267.0,32.2,34.8,34.1,...,NaN,6.0,6025.0,NaN,NaN,NaN,NaN,1.0,2323.0,5.6
133,801111141,Namadgi,https://dbr.abs.gov.au/json/csv/SA2_801111141.csv,39.0,NaN,24.0,15.0,44.0,29.7,37.5,...,23.9,6.0,5225.0,NaN,NaN,NaN,NaN,1.0,75536.0,62.8

In [83]:
area_data.iloc[:, 155]

0      100.0
1       98.8
2       98.1
3       86.0
4       85.7
       ...
127      NaN
128      NaN
129    100.0
132    100.0
133      NaN
Name: Speaks English at home (%), Length: 129, dtype: float64

In [98]:
data = area_data.loc[:, "code":"area"]
data["population"] = area_data[area_data.columns[3]]
data["population density"] = area_data[area_data.columns[4]]
data["median age"] = area_data[area_data.columns[9]]
data["children under 15"] = area_data[area_data.columns[102:105]].sum(axis=1) / 100
data["people over 64"] = area_data[area_data.columns[115:120]].sum(axis=1) / 100
data["fertility rate"] = area_data[area_data.columns[121]] / 100
data["Indigenous"] = area_data[area_data.columns[129]] / 100
data["religious"] = 1 - (area_data[area_data.columns[147]] / 100)
data["born overseas"] = area_data[area_data.columns[139]] / 100
data["born in Oceania"] = area_data[area_data.columns[130]] / 100
data["born in north-west Europe"] = area_data[area_data.columns[131]] / 100
data["born in southern & eastern Europe"] = area_data[area_data.columns[132]] / 100
data["born in north Africa & Middle East"] = area_data[area_data.columns[133]] / 100
data["born in south-east Asia"] = area_data[area_data.columns[134]] / 100
data["born in north-east Asia"] = area_data[area_data.columns[135]] / 100
data["born in southern & central Asia"] = area_data[area_data.columns[136]] / 100
data["born in Americas"] = area_data[area_data.columns[137]] / 100
data["born in sub-Saharan Africa"] = area_data[area_data.columns[138]] / 100
data["median house price"] = area_data[area_data.columns[248]]
data["median income"] = area_data[area_data.columns[312]]
data["low income (bottom quartile)"] = area_data[area_data.columns[322]] / 100
data["high income (top quartile)"] = area_data[area_data.columns[325]] / 100
data["postgraduates"] = area_data[area_data.columns[391]] / 100
data["university graduates"] = area_data[area_data.columns[391:394]].sum(axis=1) / 100
data["jobs: managers"] = area_data[area_data.columns[421]] / 100
data["jobs: professionals"] = area_data[area_data.columns[422]] / 100
data["jobs: technicians & trades"] = area_data[area_data.columns[423]] / 100
data["jobs: community work"] = area_data[area_data.columns[424]] / 100
data["jobs: clerical"] = area_data[area_data.columns[425]] / 100
data["jobs: sales"] = area_data[area_data.columns[426]] / 100
data["jobs: machinery & drivers"] = area_data[area_data.columns[427]] / 100
data["jobs: labourers"] = area_data[area_data.columns[428]] / 100
data["home owners (outright)"] = area_data[area_data.columns[505]] / 100
data["home owners (mortgage)"] = area_data[area_data.columns[506]] / 100
data["renters"] = area_data[area_data.columns[507]] / 100
data["detached houses"] = area_data[area_data.columns[500]] / area_data[area_data.columns[504]]
data["artificial surfaces"] = area_data[area_data.columns[601]] / area_data[area_data.columns[583]]
data.to_csv("./data.csv", index=False)
geo = pd.read_csv("data_geocoded.csv")
data_clean = data.set_index("code").join(geo[["code", "lng", "lat"]].set_index("code"))
data_clean = data_clean[data_clean["population"] > 149]
data_clean.to_csv("./data_clean.csv")